body {
  font-family: Calibri;
}

#cookies-input-form {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

/* #cookies-input-form section {
  display: flex;
  justify-content: center;
} */

#cookies-input-form section div {
  display: flex;
  justify-content: space-between;
}

#store-buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#store-buttons-container button {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

#add-location-btn {
  background-color: #34d399;
}

#edit-location-btn {
  background-color: #fbbf24;
}

#delete-location-btn {
  background-color: #f87171;
}

#add-location-btn:hover {
  background-color: #10b981;
}

#edit-location-btn:hover {
  background-color: #f59e0b;
}

#delete-location-btn:hover {
  background-color: #ef4444;
}

#sales-table {
  table-layout: fixed;
}
