body {
  font-family: Verdana;
}

#cookies-input-form {
  max-width: 50%;
  margin: 0 auto;
}

#cookies-input-form section {
  display: flex;
  justify-content: center;
  
}

#cookies-input-form section div {
  display: flex;
  justify-content: space-between;
}


