.font-roboto-ss {
  font-family: "Roboto Condensed", sans-serif;
}

.font-sales {
  font-family: Verdana;
}

.font-text {
  font-family: Georgia;
}

header {
  margin: 0 auto;
  text-align: center;
}

main {
  margin: 0 auto;
  text-align: center;
}

/* for sales.html */

#sales-list h2 ul li {
  font-weight: normal;
}

#sales-table {
  border-spacing: 0;
  margin: 0 auto;
}

#sales-table tr > * {
  margin: 0;
  padding: 6px;
  text-align: center;
}

#sales-table thead tr {
  background-color: beige;
}

tbody tr:nth-child(even) {
  background-color: rgb(215, 235, 243);
}

thead tr th:last-of-type {
  border-left: 1px solid black;
}

tbody tr td:last-of-type {
  border-left: 1px solid black;
}
