.font-roboto-ss {
  font-family: "Roboto Condensed", sans-serif;
}

.font-sales {
  font-family: Verdana;
}

.font-text {
  font-family: Georgia;
}

#sales-list h2 ul li {
  font-weight: normal;
}
